@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

body {
  font-family: "Atkinson Hyperlegible", system-ui;
  padding: 24px;
  background-color: #fcfcfc;
}

header {
  h1 {
    font-size: 24px;
    line-height: 29.76px;
    color: #152938;
  }
  margin-bottom: 80px;
}

.numbers-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;

  .number {
    background-color: #304859;
    border-radius: 50%;
    padding: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    span {
      font-size: 24px;
      font-weight: 700;
      line-height: 29.76px;
      color: #fcfcfc;
    }
  }

  .number.active {
    background-color: #fda214;
  }

  .number.passive {
    background-color: #bcced9;
  }
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  color: #fcfcfc;
}

.footer {
  margin-top: 80px;
  text-align: center;
  h1 {
    font-size: 24px;
    line-height: 29.76px;
    color: #152938;
    margin-bottom: 24px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .time,
    .moves {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 32px;
      background-color: #dfe7ec;
      h3 {
        color: #7191a5;
      }
      span {
        color: #304859;
      }
    }
  }
}
